<div id="pass" data-page="pass" class="page cached" ng-controller="ForgotPassPageController" ng-init="init()">

    <div class="pages navbar-through">

        <div class="navbar degrade" style="">
            <div class="navbar-inner" style="">
                <div class="left sliding">
                    <a href="index.html" class="back link">
                        <i class="material-icons" style="color:#FFF; font-size:30px;">&#xE5CB;</i>
                    </a>
                </div>
                <div class="center sliding">&nbsp;</div>
                <div class="right"></div>
            </div>
        </div>

        <div class="page-content abc">


            <div class="content-block" style="margin-top:0px; padding:0px;">

                <div class="list-block" style="padding:0px 15px; margin-top:5px;">
                    <div class="welcome_login">Mot de passe oublié</div>
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Email</div>
                                    <div class="item-input">
                                        <input type="email" name="email" placeholder="email" ng-model="user_email" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <a href="#" ng-click="passwordfotgot()" class="button button-fill color-inter" style="border-radius:30px; letter-spacing:1px; height:auto;">
                                        <div style="padding:1px; text-align:center;">Renvoyer</div>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <div class="profile_updated">Adresse email invalide !</div>

                </div>

            </div>


        </div>

    </div>

</div>